html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

.navheader {
	background-color: #FAFAFA;
	top: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	display: flex;
	z-index: 1000;
	position: fixed;
	width: 100%;
  overflow: hidden;
}

.logo{
	position: relative;
	font-size: 25px;
	padding-left: 10px;
}


.menu-pages {
	display: flex;
	margin-right: 45px;
}

#menu-dropdown {
	display: none;
}
.accordion-button {
	background-color: #FAFAFA;
}
.accordion {
	--bs-accordion-btn-icon-width: 0;
}
