#img1 {
	background-image: url(../images/air.avif);
}

#img2 {
	background-image: url(../images/Aircargcrop1.jpeg);
}
#img3 {
	background-image: url(../images/freight.jpeg);
}
body {
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
	width: 100%;
	background-color:  hsl(210, 36%, 96%);

}
.bodycontainer2 {
	display: flex;
	padding-top: 70px;
	flex-direction: column;
}
.bodycontainer {
	padding: 20px;
	display: flex;
	width: 100%;
	height: 640px;
}

.pagebkg {
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	width: 65vw;
	border: 1px grey;
	border-radius: 20px;
	height: 50em;
}
.pagedetails {
	position: relative;
	left: 30px;
	width: 30vw;
	border-radius: 12px;
	border: 1px solid  rgba(0, 0, 0, 0.1);
}
.pagebkg {
	position: relative;
}

.pgdiv {
	position: relative;
	padding-top: 28px;
	margin-left: 12px;
}

.pgstart {
	border-radius: 7px;
	width: 15rem;
	font-size: 22px;
	color: aliceblue;
	cursor: pointer;
}
.pgdiv {
	height: 85%;
	width: 45%;
	border-radius: 7px;
}

.pgheader {
	height: 55%;
	display: flex;
	border-radius: 12px !important;
	border: 0px !important;
	align-items: center;
	background-color: white;

}


h1 {
	font-weight: bold;
	line-height: 1em;
	font-family: 'Gill Sans';
}

::-webkit-scrollbar {
	width: 10px;
	border-radius: 3px;
	border: 1px black;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(220, 220, 220);
}

.login {
	margin-top: -50px;
    border-radius: 5px;
	height: 25px;
	border: 1px solid black;
}


.tracking {
	width: 88%;
	height: 45px;
	text-align: center;
	border-radius: 7px;
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.trackButton {
	margin-top: 8px;
	width: 9rem;
}
.pagebkg span{
	color: black;
	font-family: 'Gill Sans';
	position: relative;
	top: -87%;
	font-size: 19px;
	left: 60px;
	width: 30%;
	line-height: 6px;
	text-align: left;
}
.pagebkg span p strong {
	font-size: 1.5em;
}
.formstyle {
	border-radius: 19px !important;
}
.cardbody {
	margin-top: 10px;
	border-radius: 12px;
	border: 0px !important;
	background-color: white
}
.schedulebutton {
	margin-top: 23px;
}

#trackingdiv {
	margin-left: 2%;
	display: grid;
	width: 95%;
	align-items: center;
	background-color: hsl(210, 36%, 96%);
}
#trackingdiv h3{
	font-weight: 120px !important;
	font-family: 'Gill Sans';
}
.pgdiv p {
	text-align: center;
}
.formstyle {
	border-radius: 12px !important;
	text-align: center;
	background-color: aliceblue;
	margin-top: 10px;
	padding: 30px;
	padding-left: 20px;
	height: 88%;
}


.quote span {
	font-size: 18px;
}
#logindetails{
	position: relative;
	margin-top: 15px;
	padding: 15px;
	bottom: -20px;
}
.shadow {
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.col-8 {
	padding-bottom: 10px;
}
#lowerdiv {
	padding-top: -60px;
	margin-left: 30px;
}

.pgdiv {
	background-color: hsl(210, 36%, 96%);

}

.quotebutton {
	height: 35px;
	width: fit-content;
}
.home {
	padding-top: 15px;
	padding-right: 10px;
}
.mobilehome {
	padding-left: 20px;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}


.auth-wrapper {
	margin-top: 20px;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
	padding-left: 10px;
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #167bff;
  margin: 0;
}

h3 {
	color: black;
	text-align: center;
	font-family:'Gill Sans';

}
.accordion::after div {
	display: none;
}

.modalstyle {
	padding-left: 15px;
}
input:focus {
    outline: none !important;
    border:1px solid #0d6efd;
    box-shadow: 0 0 10px #719ECE ;
  }
