body {
	font-size: medium;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}
.body {
	display: inline-block;
}
.background {
	background-image: url(../images/Plane-In-The-Sky-Image.jpg);
	background-size: contain;
	height: 1000px;
	background-repeat: no-repeat;
	margin: 0;
	font-size: medium;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.block {
	height: 300px;
	width: 300px;
	border: 1px  black;
	top: -120px;
	border-radius: 7px;
	padding: 10px 10px;
	position: relative;
	margin-top: 50px;
	display: flex;
	margin-left: 700px;
	margin-right: 50px;
}

.content {
	display: flex;
	margin-top: 80px;
	padding: 20px 20px;
	border: 1px solid white;
	margin-bottom: 30px;
	margin-right: 10px;
	width: 30%;
	border-radius: 7px;
}

.about {
	position: relative;
	display: flex;
	background-image: url(../images/freight.jpeg);
	background-position: initial;
	background-repeat: no-repeat;
	background-size: contain;
}
