html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}
.menu {
	width: 100vw;
	background-color: #FAFAFA;
	position: fixed;
	top: 0;
	border-bottom: 1px solid grey;
	height: 4rem;
	display: flex;
	z-index: 1000;
  overflow: hidden;

}
.menu-pages {
	position: relative;
	color: black;
	width: 25vw;
	display: flex;
	align-items: center;
	left: 65vw;
}
.menuPopover:hover {
	opacity: 80%;
}
.logo{
	position: relative;
	top: 25px;
	color: black;
	padding-left: 10px;
}
.menu-dropdown {
	display: none;
}

.menu-pages div {
	padding-left: 3vw;
}

@media screen and (max-width:850px) {
	.menu-pages .menuPopover {
		display: none;
	}
	.menu-dropdown {
		position: relative;
		color: white;
		width: 20vw;
		display: flex;
		align-items: center;
		left: 70%;
	}
}

section {
	opacity: 80%;
}

.menuPopover:hover div{
	display: flex;
	height: 80rem;
	z-index: 0;

}
.menuPopover div {
	display: none;
	position: absolute;
	right: 0px;
	width: 60rem;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 7px;
}
