html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

.navheader {
	background-color: #FAFAFA;
	top: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	display: flex;
	z-index: 1000;
	position: fixed;
	width: 100%;
  overflow: hidden;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo{
	position: relative;
	font-size: 25px;
	padding-left: 10px;
}


.menu-pages {
	display: flex;
	margin-right: 45px;
}

#menu-dropdown {
	display: none;
}
.accordion-button {
	background-color: #FAFAFA;
}
.accordion {
	--bs-accordion-btn-icon-width: 0;
}
#popover {
	display: none;
	--bs-popover-max-width: 100vw;
	--bs-popover-border-radius: 1px;
  border: 1px azure;
	position: relative;
	overflow-y: scroll;
	width: 100%;
	max-width: 1200px;
	padding-top: 80px;
	height: 300px;
	box-shadow: 0 0 4px rgba(33,33,33,.25);
	background-color: #f6f6f5;
}
#popover ul {
	list-style-type: none;
}
.logo {
	color: #4640b3;
	font-weight: 800;
}