@media screen and (max-width: 850px) {
	.pagebkg {
		display: flex;
		max-width: 90vh;
	}
	.pagebkg img {
		background-size: contain;
		height: 22em;
		width: 100%;
		padding: 12px;
		border-radius: 30px;
	}
	.pagedetails {
		margin-top: 30px;
		width: 92%;
		margin-left: -15px;
		--bs-card-height: 600px;
	}

	.bodycontainer {
		display: grid;
		align-items: center;
		height: 250px;
	}
	.pgstart {
		margin-left:-49px;
	}
	.pagedetails {
		padding: 5px;
		height: 570px;
	}
	.pagebkg span {
		top: 14vh;
		position: relative;
		left: -76%;
		width: 55%;
		line-height: 1em;
		text-align: left;
		font-size: 1em;
		color: aliceblue;
	}
	.pagebkg span h4 {
		font-size: 18px;
	}
	.pagebkg span {
		color: white
	}
	.pgstart {
		padding: 4px;
		color: aliceblue;
		width: 17rem;
	}
	.pgheader {
		height: 15rem;
		display: grid;
	}
	.cardbody {
		margin-top: -14px;
	}
	#lowerdiv {
		display: none;
	}
	#popover {
		width: 100% !important;
	}
	#popovr ul {
		text-align: left;
	}
	.pgdiv {

		width: 95%;
		height: 8rem;
	}
	.quotebutton {
		width: 70%;
		height: 35px;
		position: relative;

	}
	#trackingdiv {
		padding-top: 20%;
		height: 88%;
	}
	.tracking {
		margin-top: 20px;
		margin-left: -7px;
		width: 15rem;
	}
	.quotediv {
		height: 85%;
		margin-left: 7px;
	}
	.trackButton {
		margin-left: -14px;
		width: 9em;
	}
	.schedulebutton {
		width: 12em;
	}


	@media screen and (min-width: 600px) {

		.pagedetails {
			height: 50em;
			width: 97%;
			padding: 20px;
		}
		.pgstart {
			width: 24rem;
		}
		.pagebkg img {
			height: 400px;
			width: 100%;
		}
		.pagebkg span {
			font-size: 1em;
			top: 185px;
		}
		.tracking {
			position: relative;
			top: -70px;
			width: 26em;
			left: 30px
		}
		.trackButton {
			position: relative;
			top: -30px;
		}
		.pgheader {
			display: flex !important;
			height: 50%;
		}
		.pgdiv {
			height: 21em !important;
		}
		#lowerdiv {
			display: grid !important;
			margin-left: 10px;
			height: 80%;
		}
		.quotediv {
			height: 80%;
		}
	}
	.auth-inner {
		margin-top: 30px;
		width: 89vw;
	}
	.menu-pages {
		display: none;
	}
	#menu-dropdown {
		display: flex !important;
	}
	.navbar {
		height: 5rem;
	}
	.quotediv {
	}
}
