body {
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	background-color: white;
}
.bodycontainer2 {
	display: flex;
	flex-direction: column;
}
.container {
	margin-top: 120px;
	display: flex;
	width: 100%;
}

.pagebkg img {
	position: relative;
	background-size: contain;
	margin-left: 20px;
	width: 60vw;
	background-repeat: no-repeat;
	border: 1px grey;
	border-radius: 20px;
	height: 600px;
}
.pagedetails {
	position: relative;
	background-color: white;
	left: 30px;
	height: 600px;
	border: 1px  black;
	border-radius: 20px;
	width: 34vw;
	display: grid;
	border: 1px solid grey;


}
.pagedetails div {
	height: 220px;
	width: 26vw;
	background-color: bisque;
	margin-top: 45px;
	margin-left: 45px;
	border-radius: 25px;
	border: 1px black;
}

#upperdiv {
	margin-top: 10px;
	padding-top: 15px;
	text-align: center;
}
#upperdiv button {
	margin-top: 35px;
	width: 48%;
	height: 30px;
	border-radius: 7px;
	background-color: white;
	border: 1px solid black;
}
@media screen and (max-width: 850px) {
	.pagebkg img {
		margin-top: -18px;
		background-size: contain;
		height: 39vh;
		width: 82%;
		border-radius: 30px;
	}
	.pagedetails {
		left: 18px;
		margin-top: 60px;
		width: 82%;
		height: 35vh;
	}
	.pagedetails div{
		width: 58%;
		margin-top: 15px;
		padding-right: 45px;
		height: 95px;
	}
	.menu {
		height: 46px;
	}
	.container {
		display: grid;
		align-items: center;
	}
}

h1 {
	font-weight: 800;
	line-height: 1em;
}

::-webkit-scrollbar {
	width: 10px;
	border-radius: 3px;
	border: 1px black;
}
::-webkit-scrollbar-thumb {
	background-color: grey;
}
article {
	size: 1vh;
	position: relative;
	top: 17%;
	text-align: center;
	color: white
}


.pgstart {
	border-radius: 7px;
	border: 1px solid black;
	height: 32px;
	width: 13rem;
	font-size: 19px;
	background-color: white;
	cursor: pointer;
}

.tracking {
	width: 75%;
	height: 35px;
	text-align: center;
	border-radius: 7px;
	border: 1px solid black;
}
.pagebkg span {
	color: black;
	font-family: cursive;
	position: absolute;
	font-style: italic;
	top: -79%;
	font-size: 18px;
	width: 30%;
	line-height: 1em;
	text-align: left;
	margin-left: 30px;
}
@media screen and (max-width: 850px) {
	article {
		top: 80px;
		font-size: medium;
	}
	.pagebkg span {

	}
	.pgstart {
		width: 17rem;
		margin-left: 10px;
		border: 1px solid black;
	}
}